[submodule "external/dotbot-git"]
	path = external/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "external/rofi-themes"]
	path = external/rofi-themes
	url = https://github.com/adi1090x/rofi.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
